<%- include("includes/header.ejs") %>

<body>
    <div class="container">
        <h1 class="error-message text-center align-middle">
            404 PAGE NOT FOUND
        </h1>
    </div>
</body>

<%- include("includes/footer.ejs") %>